<div class="container">
  <ul class="list-group" id="user_inform">
    <li class="list-group-item">
      <span class="left">UserID:</span>
      <span><%= user["id"] %></span> 
    </li>
    <li class="list-group-item">
      <span class="left">name:</span>
      <span><%= user["name"] %></span>
    </li>
    <li class="list-group-item">
      <span class="left">ステータス:</span>
      <span><%= user["status"] %></span>
    </li>
    <li class="list-group-item">
      <span class="left">作成日:</span>
      <span><%= user["created_at"] %></span>
    </li>
  </ul>
</div>


