<div class="container">
  <ul class="list-group">
    <li class="list-group-item">LineID: <%= user["line_id"] %> </li>
    <li class="list-group-item">UserType: <%= user["user_type"] %> </li>
    <li class="list-group-item">ステータス: <%= user["status"] %> </li>
    <li class="list-group-item">作成日: <%= user["created_at"] %></li>
  </ul>
</div>


