<header class="navbar navbar-expand-lg navbar-light bg-light">                                                        
  <div class="container">
    <%= link_to "notificy", "/users", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "User",   "/users" %></li>
      </ul>
    </nav>
  </div>
</header>
